parameters:
    app_name:          google-analytics-bundle

    encryption_key:

    google.client-id:
    google.client-secret:

    components:
        api-google:
            class:  Keboola\Google\ClientBundle\Client
            bundle: Keboola\Google\ClientBundle\KeboolaGoogleClientBundle
        ex-google-analytics:
            class:  Keboola\Google\AnalyticsBundle\GoogleAnalyticsExtractor
            bundle: Keboola\Google\AnalyticsBundle\KeboolaGoogleAnalyticsBundle
