<p>
	Hello there, <br />
	Keboola Connection user {{ userName }} is asking you to authorize your Google Analytics account so it can be used by our extractor.<br />
	Please use this link to authorize: <a href="{{ link }}" target="_blank">{{ link }}</a>  <br /><br />

	Link is valid for 24 hours. <br /><br />

	Sender left you message: <br /><br />

	{{ sendersMessage }} <br /><br />

	Best regards, <br />
	Keboola Team
</p>
